html, body {
    margin:0; padding: 0;
    font-family: sans-serif;
}

.container {
    height:100vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background:url('../ressources/background.jpg')no-repeat;
    background-size:cover;
}

.game_screen {
    position: relative;
    width:640px; height:580px;
}

.game_screen.hidden {
    display:none;
}

#screen {
    position:relative;
    background-color:#000;
    border:1px solid black;
}

#screen:after {
    position:absolute;
    top: 0; left: 0;
    width:100px;
    height:100px;
}

.HUD-Grid {
    display:block;
    position: absolute;
    top: 0; left: 0;
    width: 640px; height: 480px;
    background-color: red;

    background-color:rgba(0, 0, 0, 0.1);
  background-size: 100% 1.2em;
  background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: -ms-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -ms-linear-gradient(#eee .05em, transparent .05em);
  background-image: -o-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -o-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .05em, transparent .05em);
  -pie-background: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px) 0 0 / 100% 1.2em, linear-gradient(#eee .05em, transparent .05em) 0 0 / 100% 1.2em #fff;
  behavior: url(/PIE.htc);
}


.menu_game {
    background:url('../ressources/background_fight.png');
    background-size:640px 480px;
    width: 640px; height:480px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index:10000;
    font-family: "Potta One", cursive;
    font-size:1.5em;
    color:#fff;
    border:1px solid black;
}

.menu_game.hidden {
    display:none!important;
}


.HUD-fight.hidden {
    display:none!important;
}

.HUD-fight__selected.hidden {
    display:none!important;
}

.HUD-fight {
    display:flex;
    position: absolute;
    top: 230px; left: 245px;
    width:150px; height:calc(480px - 130px);

    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;

    background:url('../ressources/ui_menu.png')no-repeat;
    background-size:150px 350px;
}

.HUD-fight__button {
    width:80%;
    margin:8px 0;
    border:none;
    color:rgba(255, 255, 255, 0.7);
    font-size:1em;
    font-family: 'Potta One', cursive;
    background:none;
    transition: color 0.3s;
    cursor: pointer;
}

.HUD-fight__button:hover {
    color:#fff;
}

.HUD-fight__selected {
    display:flex;
    position: absolute;
    top: 100px; left: 245px;
    width:150px;height:130px;

    flex-direction:column;
    justify-content: center;
    align-items: center;

    background:url('../ressources/ui_selected_panel.png');
    background-size:150px 130px;
}

.HUD-fight__selected-text {
    width:70%;
    text-align: center;
    color:#fff;
    font-family: 'Potta One', cursive;
}

.HUD__container-informations {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    top:102px; left: 0;
    width:642px; height:482px;
    background-color:rgba(0, 0, 0, 0.8);
    color:#fff;
    font-family: 'Potta One', cursive;
    z-index:1000;
    opacity: 0;
    transition: .3s opacity;
    animation-name:fadeOut;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.HUD__container-informations.display {
    animation-name:fadeIn;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.HUD__container-informations p {
    width:100%;
    padding:16px 0;

    text-align: center;
    border-top:3px solid #fff;
    border-bottom:3px solid #fff;
    background-color:rgba(255, 255, 255, 0.2);
}

/**
 * HUD player
 **/
.hud {
    padding:8px;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-size:132px;
}

.player-hud {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding:16px;
    background:url('../ressources/ui_horizontale.png') no-repeat;
    background-size:100%;
}

.player-hud.notSelected {
    opacity:0.3;
    transition:.3s opacity;
}

.player-hud .player-name {
    margin:0; padding:0;
    text-align: center;
    font-family: "Potta One", cursive;
    color:#fff;
}

.health-bar {
    position: relative;
    width:150px;
    height:15px;
}

.health-bar[value] {
    -webkit-appearance: none;
    appearance:none;
}

.health-bar[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.health-bar[value]::-webkit-progress-value {
    background: rgb(0,43,8);
    background: linear-gradient(-180deg, rgba(0,43,8,1) 0%, rgba(170,241,173,1) 9%, rgba(170,241,173,1) 16%, rgba(38,189,11,1) 50%, rgba(0,43,8,1) 100%);

    border-radius: 10px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.HUD__game-over {
    width:640px; height:480px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('../ressources/background_fight.png');
    background-size:640px 480px;
    border:1px solid black;
    font-family: "Potta One", cursive;
    color:#fff;
}

.HUD__game-over h1 {
    margin: 8px 0; padding:0;
    font-weight:300;
    font-size: 1.5em;
}

.HUD__game-over p {
    margin: 0; padding: 0;
    font-size:0.9em;
}

.HUD__game-over button {
    margin:16px 0;
}

.HUD__game-over.hidden {
    display:none;
}

.input {
    padding:8px;
    margin-bottom:16px;
    border:1px solid #565E64;
    border-radius:12px;
}

.btn {
    margin-bottom: 16px;
    padding:8px 8px;
    border:1px solid #565E64;
    border-radius:12px;
    background-color:rgba(234, 241, 228, 0.5);
    transition: background .3s;
    cursor:pointer;
}

.btn:hover {
    background-color:rgba(234, 241, 228, 0.8);
}

.player-hud .player-hud__info-player{

    display:flex;

}

.player-hud p {
    padding: 0; margin: 0;
}

.player-hud .info {
    display:flex;
    justify-content: center;
    align-items:center;
}

.icon-shield {
    width: 30px; height: 30px;
    position:relative;
    content:'';
    display:block;
    background:url('../ressources/icon-shield.png')no-repeat;
    background-size:30px 30px;
}

.icon-sword {
    width: 30px; height: 30px;
    position:relative;
    content:'';
    display:block;
    background:url('../ressources/sword.png')no-repeat;
    background-size:30px 30px;
}

.hidden {
    display: none!important;
}

/**
 * Animations
 **/

.animation {
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.fadeIn { animation-name:fadeIn; }
.fadeOut { animation-name:fadeOut; }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}